<h1>Listing Purchases</h1>

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item Description</th>
        <th>Item Pirce</th>
        <th>Purchase Count</th>
        <th>Customer Name</th>
        <th>Merchant Name</th>
        <th>Merchant Address</th>
        <th>Date Added</th>
      </tr>
    </thead>

    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.items.first.description %></td>
          <td><%= number_to_currency(purchase.items.first.price) %></td>
          <td><%= purchase.count %></td>
          <td><%= purchase.customer.name %></td>
          <td><%= purchase.items.first.merchant.name %></td>
          <td><%= purchase.items.first.merchant.address %></td>
          <td><%= purchase.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
