<h1>Listing Purchases</h1>

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item Description</th>
        <th>Item Pirce</th>
        <th>Purchase Count</th>
        <th>Customer Name</th>
        <th>Merchant Name</th>
        <th>Merchant Address</th>
        <th>Date Added</th>
      </tr>
    </thead>

    <tbody>
      <% @purchases.each do |purchase| %>
        <% purchase_item = purchase.items.first %>
        <tr>
          <td><%= purchase_item.description if purchase_item %></td>
          <td><%= number_to_currency(purchase_item.price) if purchase_item %></td>
          <td><%= purchase.count %></td>
          <td><%= purchase.customer.name if purchase.customer %></td>
          <td><%= purchase_item.merchant.name if purchase_item %></td>
          <td><%= purchase_item.merchant.address if purchase_item %></td>
          <td><%= purchase.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
